# MATH 210 Introduction to Mathematical Computing

**January 26, 2024**

* `for` loops
* Factorial
* Exponential Taylor series
* Recursive sequences

## `for` loops

A `for` loop executes a block of code repeatedly for all values in a sequence. The construction is:

```python
for item in sequence:
    # Python code
    # Python code
```

Note:

* keyword `for` starts the loop
* `item` is a variable name and it takes each value in `sequence` one at a time for each pass through the loop
* `sequence` is any sequence of values
* `for` statement ends in a colon `:`
* block of code in the loop is indented 4 spaces

In [1]:
for n in range(5):
    value = n**2
    print(value)

print('Done!')

0
1
4
9
16
Done!

In [2]:
n

4

In [3]:
n = 0
value = n**2
print(value)

n = 1
value = n**2
print(value)

n = 2
value = n**2
print(value)

n = 3
value = n**2
print(value)

n = 4
value = n**2
print(value)

print('Done!')

0
1
4
9
16
Done!

## Factorial

Write a function called `factorial` which takes a input parameter `n` (integer greater than or equal to 0) and returns $n! = n(n-1) \cdots (2)(1)$.

In [4]:
def factorial(n):
    value = 1
    for k in range(2,n+1):
        value = value*k
    return value

In [5]:
factorial(0) # Should return 1

1

In [6]:
factorial(1) # Should return 1

1

In [7]:
factorial(3) # Should return 6

6

In [8]:
factorial(5) # Should return 120

120

## Exponential Taylor series

Write a function called `exp` which takes input parameters `x` and `N` and returns the partial sum of the Taylor series for $e^x$

$$
\sum_{k=0}^N \frac{x^k}{k!}
$$

In [9]:
def exp(x,N):
    terms = [x**k/factorial(k) for k in range(N+1)]
    series = sum(terms)
    return series

In [10]:
exp(0,2) # Should return 0**0/0! + 0**1/1! 0**2/2! = 1 + 0 + 0 = 1

1.0

In [11]:
exp(1,2) # Should return 1 + 1 + 1/2 = 2.5

2.5

In [12]:
exp(-1,3) # Should return 1 - 1 + 1/2 - 1/6 = 1/3

0.33333333333333337

In [13]:
exp(1,20) # Should return 2.718...

2.7182818284590455

In [14]:
0.1+0.2

0.30000000000000004

## Initialize and Update

We use this construction a lot when constructing sequences. Initialize the sequence as a sequence of 0s with the expected length.

In [15]:
N = 5
seq = [0 for k in range(N)]
print(seq)

[0, 0, 0, 0, 0]

Write a `for` loop to update the values. For example, create the list of squares:

In [16]:
for k in range(len(seq)):
    seq[k] = k**2
print(seq)

[0, 1, 4, 9, 16]

## Recursive sequences

A recursive sequence is a sequence $\{ x_n \}_{n=0}^{\infty}$ such that the entry $x_n$ at index $n$ depends on previous entries. For example, $x_0 = 1$ and $x_{n+1} = \sqrt{2 + x_n}$.

Write a function called `a_seq` which takes input parameters `a` and `N` and returns the sequence $x_0 = a$, $x_{n+1} = \sqrt{2 + x_n}$ (up to and including $x_N$) as a Python list.

In [21]:
def a_seq(a,N):
    seq = [0 for n in range(N+1)]
    seq[0] = a
    for n in range(0,N):
        seq[n+1] = (2 + seq[n])**0.5
    return seq

In [23]:
a_seq(1,2) # Should return [1,3**0.5,(2 + 3**0.5)] = [1,1.73,1.93]

[1, 1.7320508075688772, 1.9318516525781366]

In [24]:
a_seq(10,20)

[10,
 3.4641016151377544,
 2.3375417889607353,
 2.0826765925031987,
 2.020563434417044,
 2.005134268426193,
 2.0012831554845487,
 2.000320763148888,
 2.000080189179646,
 2.000020047194439,
 2.0000050117923305,
 2.00000125294769,
 2.000000313236898,
 2.000000078309223,
 2.0000000195773056,
 2.0000000048943263,
 2.0000000012235817,
 2.0000000003058953,
 2.000000000076474,
 2.0000000000191185,
 2.0000000000047797]

It seems that $\lim_{n \to \infty} x_n = 2$ for any $a$. Can we prove it?