# MATH 210 Introduction to Mathematical Computing

**January 17, 2024**

* Indexing and Slicing
* List Comprehensions
* Examples

## Indexing and Slicing

Access entries in a sequence using the syntax `listname[i]`. This returns the entry at index `i` of the sequence `listname`.

In [1]:
squares = [0,1,4,9,16,25,36,49,64,81]

In [2]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
type(squares)

list

In [4]:
squares[5]

25

Use negative indices to access entries at the end.

In [5]:
squares[-1]

81

Select a subsequence using the syntax `listname[a:b]`. This returns the sequence from index `a` to (not including) `b`.

In [6]:
squares[3:7]

[9, 16, 25, 36]

In [7]:
squares[:3]

[0, 1, 4]

In [8]:
squares[4:]

[16, 25, 36, 49, 64, 81]

In [9]:
squares[5:-1]

[25, 36, 49, 64]

## List Comprehensions

It is inefficient to manually type all the entries in a list. There is a beautiful construction in Python called a list comprehension to quickly create lists. The basic construction is:

```
listname = [ expression for item in sequence ]
```

where:

* `listname` is the variable name assigned to the list created
* `expression` is any Python expression involving the variable `item`
* `item` is variable which is assigned each value is `sequence`
* `sequence` is any sequence
* the keywords `for` and `in` designate `item` as the variable and `sequence` as the sequence of values for `item`

In [10]:
squares = [n**2 for n in [0,1,2,3,4,5,6,7,8,9]]

In [11]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
squares = [n**2 for n in range(10)]

In [13]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

How do we create the list `[0.0,0.1,0.2, ... ,1.0]`?

In [14]:
xvalues = [i/10 for i in range(11)]

In [15]:
print(xvalues)

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [16]:
range(0,1,0.1)

TypeError: 'float' object cannot be interpreted as an integer

In [17]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

Note that Python can only store finite sequences. Therefore we are always approximating infinite series with partial sums.

What about $x_n = (-1)^{n+1}/n$ for $n = 1,\dots,10$?

In [18]:
xvalues = [(-1)**(n+1)/n for n in range(1,11)]

In [19]:
print(xvalues)

[1.0, -0.5, 0.3333333333333333, -0.25, 0.2, -0.16666666666666666, 0.14285714285714285, -0.125, 0.1111111111111111, -0.1]

## Examples

### Geometric Series

The geometric series is

$$
\sum_{n=0}^{N} x^n = 1 + x + x^2 + \cdots + x^N = \frac{1 - x^{N+1}}{1 - x} \ , \ \ x \ne 1
$$

Let's compute the left side and right side and verify that they are equal.

In [20]:
x = 2
N = 5
terms = [x**n for n in range(N+1)]
print(terms)
series = sum(terms)
print(series)
formula = (1 - x**(N+1))/(1 - x)
print(formula)

[1, 2, 4, 8, 16, 32]
63
63.0

In [21]:
x = 1/2
N = 100
terms = [x**n for n in range(N+1)]
series = sum(terms)
print(series)
formula = (1 - x**(N+1))/(1 - x)
print(formula)

2.0
2.0

### Taylor Series

The Taylor series of $\log(1 + x)$ is

$$
\log(1 + x) = \sum_{k = 1}^{\infty} \frac{(-1)^{k+1} x^k}{k} \ , \ \ |x| < 1
$$

Approximate $\log(1/2)$ using partial sum up to (and including) $N=1000$.

Note: $\log$ is the natural logarithm.

In [22]:
x = -1/2
N = 1000
terms = [(-1)**(k+1)*x**k/k for k in range(1,N+1)]
series = sum(terms)
print(series)

-0.6931471805599451

The Taylor series of $\arctan(x)$ is

$$
\arctan(x) = \sum_{k=0}^{\infty} \frac{(-1)^k x^{2k + 1}}{2k + 1} \ , \ \ |x|<1
$$

Approximate $\arctan(1/\sqrt{3})$ with $N=1000$. Compare to the exact value. How big should $N$ be for the approximation to agree with the exact value up to 5 decimal places?

In [23]:
x = 1/3**0.5
N = 100
terms = [(-1)**k*x**(2*k+1)/(2*k+1) for k in range(0,N+1)]
series = sum(terms)
print(series)

0.5235987755982989

In [24]:
pi = 3.1415926535
pi/6

0.5235987755833333

In [25]:
series - pi/6

1.4965584327342185e-11

In [26]:
x = 1
N = 10000
terms = [(-1)**k*x**(2*k+1)/(2*k+1) for k in range(0,N+1)]
series = sum(terms)
print(series)

0.7854231608976336

In [27]:
pi/4

0.785398163375