# MATH 210 Introduction to Mathematical Computing

**January 15, 2024**

* Variables
* Variables Names and Reserved Words
* Sequence Types
* Builtin Functions for Sequences

## Variables

We use variables to easily create and modify expressions. We assign a value to a variable using the assignment operator `=`.

In [1]:
x = 42

Use the builtin function `print` to see the value assigned to a variable.

In [2]:
print(x)

42

Use the builtin function `type` to see the type of the value.

In [3]:
type(x)

int

Then we can create expressions and easily change the values.

For example, let's write a script that computes the norm of a vector $(x,y) \in \mathbb{R}^2$. In other words:

$$
\| (x,y) \| = \sqrt{x^2 + y^2}
$$

In [4]:
x = 1
y = 2
norm = (x**2 + y**2)**0.5
print(norm)

2.23606797749979

## Variables Names and Reserved Words

We can use any combination of letters, numbers and underscores to create variable names. A variable name cannot begin with a number.

In [5]:
alpha = 0.1
print(alpha)

0.1

In [6]:
pi = 3.1415926535
print(pi)

3.1415926535

In [7]:
sum_of_squares = 2**2 + 7**2
print(sum_of_squares)

53

There are reserved words that we cannot use as variable names because they have a special meaning such as `True`, `False`, `for`, ...

Note that `lambda` is a reserved word but we can append a number at the end to use it as a variable name.

In [8]:
lambda1 = 1
lambda2 = 5

## Sequence Types

There are 3 main sequence types: list, tuples and range objects.

Create a list using square brackets `[a,b,c]` with entries separated by commas.

In [9]:
primes = [2,3,5,7,11,13,17,19]

In [10]:
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]

In [11]:
type(primes)

list

Access the entries in a list using syntax `varname[i]` where integer `i` is an index. Note that Python sequences start at index 0.

In [12]:
primes[0]

2

In [13]:
primes[1]

3

In [14]:
primes[6]

17

Create a tuple using parentheses `(a,b,c)`.

In [15]:
date = (2024,1,15)

In [16]:
date[1]

1

In [17]:
type(date)

tuple

The main difference betweens lists and tuples is that we can change the values in a list but not in a tuple.

In [18]:
primes[0] = -1

In [19]:
primes

[-1, 3, 5, 7, 11, 13, 17, 19]

In [20]:
date[0] = 1989

TypeError: 'tuple' object does not support item assignment

Create a range object with the syntax `range(a,b,step)`. A range object represents the sequence of integers from `a` to `b` (not including `b`) incremented by `step`.

In [21]:
integers = range(0,10,2)

In [22]:
print(integers)

range(0, 10, 2)

A range object does not create and store in memory all of its entries. It only returns the entries when you ask for it.

In [23]:
integers[3]

6

In [24]:
for i in integers:
    print(i)

0
2
4
6
8

Use the function `list` to convert a range object to a list.

In [25]:
integers = list(range(1,11,2))
print(integers)

[1, 3, 5, 7, 9]

We use range objects in loops for iteration so that we use index `i` at each iteration just one at a time without having to create and save in memory all the index values from `a` to `b`.

Why does `range(a,b)` not include `b`? It's a design decision that the inventor of Python made so that the number of entries in `range(a,b)` is `b-a`.

In [26]:
list(range(1,6))

[1, 2, 3, 4, 5]

## Builtin Functions for Sequences

Add the entries in a sequence with the `sum` function.

In [27]:
sum([1,2,3,4,5,6,7,8])

36

In [28]:
sum(range(1,9))

36

In [29]:
sum(range(1,1001))

500500

In [30]:
N = 1000000
sum(range(1,N+1))

500000500000

In [31]:
N*(N+1)/2

500000500000.0

In [32]:
max([7,34,12,456])

456

In [33]:
min([7,34,12,456])

7

In [34]:
len([7,34,12,456])

4